body, html {
  min-height: 100svh;
  position: relative;
}

.nav-item, footer {
  text-align: center;
}

.logo {
  a {
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #f47b2a;
    }
  }

  img {
    height: 75px;
  }
}

nav {
  margin-bottom: 2rem;
}

.navbar {
  padding: 0 .25rem;

  &-dark &-toggler {
    border: none;
  }

  &-dark &-nav .active > .nav-link {
    color: #f47b2a;
    font-weight: 700;
  }
}

.nav-item {
  margin: .5rem .25rem;
}

.active {
  background-color: #2b3e50;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

h2 .btn {
  white-space: normal !important;
  word-wrap: break-word;
  width: 100%;
}

.fixed-table {
  table-layout: fixed;
  width: 100% !important;

  td {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.sticky-matches {
  overflow: auto;
  resize: vertical;
  max-height: 400px;
  min-height: 55px;
}

.match-colour {
  display: inline-block;
  width: 40px;
  height: 10px;
}

.bg-orange {
  background-color: #9f4508 !important;
}

.line-numbers {
  overflow: auto;
}

.input-group-text, .tab-content > .active {
  background: 0 0;
}

.form-control {
  &:disabled, &[readonly] {
    background-color: #abb6c2;
  }
}

.input-group {
  background-color: #2b3e50;
  padding: 2px;

  &-prepend {
    margin-right: -10px;
  }
}

footer {
  padding: 2.5rem 0;
  background-color: #4e5d6c;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  p:last-child {
    margin-bottom: 0
  }
}

table {
  .shrink {
    white-space: nowrap;
    width: 1%
  }

  .min {
    min-width: 290px
  }
}

.btn-min-width {
  min-width: 118px
}

.score-0 {
  color: #0f0
}

.score-1 {
  color: #8dff00
}

.score-2 {
  color: #c2ff00
}

.score-3 {
  color: #e5ff00
}

.score-4 {
  color: #fff600
}

.score-5 {
  color: #ffe400
}

.score-6 {
  color: #ffaf00
}

.score-7 {
  color: #ff9e00
}

.score-8 {
  color: #ff7b00
}

.score-9 {
  color: #ff5700
}

@media print {
  button, h5 {
    padding: 0 !important;
    margin: 0 !important
  }
  *, .line-highlight {
    background: 0 0 !important
  }
  @page {
    size: auto;
    margin: 1.6cm 0 1.6cm 0
  }
  a, button, code[class*=language-], h4, h5, p, pre[class*=language-], span {
    color: #000 !important
  }
  h1 {
    font-size: 30px !important
  }
  h4 {
    font-size: 25px !important
  }
  h5 {
    text-align: center;
    font-size: 20px !important
  }
  button span {
    font-size: 15px !important
  }
  .card, .card-body, .card-header {
    border: none !important;
    padding-top: 0
  }
  .shadow-sm {
    box-shadow: none !important
  }
  .page-break {
    page-break-before: always
  }
  .page-break-after {
    page-break-after: always
  }
  table {
    table-layout: auto
  }
  td {
    word-break: break-word
  }
  pre {
    height: auto !important;
    width: 100% !important;
    overflow: hidden;
    padding-left: 10px !important
  }
  code, pre {
    white-space: pre-wrap !important;
    word-break: break-word !important;
    word-wrap: break-word !important
  }
  .line-highlight:before, .line-highlight[data-end]:after {
    content: none !important;
    background: 0 0 !important;
    border: none !important
  }
}

.cc-window.cc-floating {
  max-width: 100% !important
}

main {
  padding-bottom: calc(7rem + 30px)
}